:root {
	--primary-color: #2d3047;
	--primary-color-light: hsl(233, 22%, 33%);
	--accent-color: #ed217c;
	--accent-color-light: hsl(333, 85%, 63%);
	--primary-text-color: rgba(255, 255, 255, 0.8);
	--primary-text-color-light: rgba(255, 255, 255, 0.54);
	--secondary-text: rgba(0, 0, 0, 0.8);
	--secondary-text-light: rgba(0, 0, 0, 0.54);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

body {
	background-color: var(--primary-color);
	color: var(--primary-text-color);
}

#home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

#home,
#works-container {
	width: 40%;
}

#avatar {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: 4px solid hsl(233, 22%, 20%);
	border-radius: 10px;
}

.title {
	font-family: 'Cabin', 'Arial', sans-serif;
	font-weight: 600;
}

#label-name {
	font-size: 56px;
	color: var(--accent-color);
	margin-top: 20px;
}

#label-job-title {
	font-size: 18px;
}

#label-description {
	color: var(--primary-text-color-light);
	font-size: 13px;
}

.button {
	padding: 8px;
	background-color: var(--accent-color);
	border: 0px solid transparent;
	border-radius: 5px;
	color: var(--primary-text-color);
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
	transition: all 1s;
}

.button:hover {
	cursor: pointer;
	background-color: var(--primary-color-light);
}

.button-hollow {
	background-color: transparent;
	border-color: var(--accent-color);
	border-width: 2px;
}

#social-icons {
	list-style-type: none;
	margin-top: 16px;
}

.social-icon {
	width: 16px;
	height: 16px;
	margin-right: 16px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

#home-buttons-container {
	margin-top: 24px;
}

#button-know-more {
	margin-left: 16px;
}

#works {
	background-color: whitesmoke;
	color: var(--accent-color);
}

#label-work-title {
	font-size: 18px;
}

#works-container {
	margin: auto;
	padding: 16px 0px 16px 0px;
}

#work-list {
	list-style-type: none;
	margin-top: 8px;
}

.work-list-item {
	padding: 16px 0px 16px 0px;
	border: none;
	border-bottom: 1px solid var(--accent-color);
	color: var(--secondary-text);
	transition: all 1s;
}

.work-list-item:hover {
	padding: 16px;
	background-color: var(--accent-color);
	cursor: pointer;
	border-radius: 10px;
}

.project-name {
	font-size: 17px;
}

.project-type {
	color: var(--secondary-text-light);
	text-transform: uppercase;
	font-size: 10px;
}

.stacks {
	margin-top: 8px;
	align-items: center;
}

.stack {
	background-color: var(--secondary-text-light);
	color: var(--primary-text-color-light);
	margin-right: 8px;
	padding: 4px 8px;
	border-radius: 10px;
	font-size: 11px;
	display: inline;
	text-transform: uppercase;
}

.client-website {
	color: var(--secondary-text);
}

@media screen and (max-width: 568px) {
	#home,
	#works-container {
		width: 85%;
	}

	#label-name {
		font-size: 45px;
	}

	#avatar {
		width: 150px;
		height: 150px;
	}

	.stack {
		margin-bottom: 4px;
	}
}
