:root {
	--primary-color: #0f0f16;
	--primary-color-light: hsl(233, 22%, 33%);
	--accent-color: #ed217c;
	--accent-color-light: hsl(333, 85%, 63%);
	--primary-text-color: rgba(255, 255, 255, 0.8);
	--primary-text-color-light: rgba(255, 255, 255, 0.54);
	--secondary-text: rgba(0, 0, 0, 0.8);
	--secondary-text-light: rgba(0, 0, 0, 0.54);
	font-size: 60%;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

body {
	background: var(--primary-color);
	color: var(--primary-text-color);
}

#home {
	height: calc(100vh - 6.8rem);
	padding: 3rem;
	border: 0.5rem solid var(--accent-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home > div {
	position: relative;
	animation: slide-down 1s 0.1s ease-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#works-container {
	width: 80%;
}

@keyframes slide-down {
	from {
		top: -40rem;
		opacity: 0;
	}

	to {
		top: 0rem;
		opacity: 1;
	}
}

#avatar {
	width: 20rem;
	height: 20rem;
	object-fit: cover;
	border: 0.4rem solid var(--accent-color);
	border-radius: 3rem;
}

.title {
	font-family: 'Cabin', 'Arial', sans-serif;
	font-weight: 600;
}

#label-name {
	font-size: 5.6rem;
	color: var(--accent-color);
	margin-top: 2rem;
}

#label-job-title {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	margin-bottom: 0.8rem;
}

#label-description {
	color: var(--primary-text-color-light);
	font-size: 1.2rem;
	margin-bottom: 2.4rem;
}

.button {
	padding: 0.8rem 1.6rem;
	background-color: var(--accent-color);
	border: 0rem solid transparent;
	border-radius: 3rem;
	color: var(--primary-text-color);
	text-transform: uppercase;
	font-size: 1.1rem;
	text-decoration: none;
	transition: all 1s;
	display: flex;
	align-items: center;
}

.button:hover {
	cursor: pointer;
	background-color: var(--primary-color-light);
}

.button-hollow {
	background-color: transparent;
	border-color: var(--accent-color);
	border-width: 0.2rem;
}

#social-icons {
	list-style-type: none;
}

.social-icon {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 1.6rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

#home-buttons-container {
	margin-top: 2.4rem;
}

#button-know-more {
	margin-left: 1.6rem;
}

#works {
	background-color: whitesmoke;
	color: var(--accent-color);
}

#label-work-title {
	font-size: 1.8rem;
	text-transform: uppercase;
}

#works-container {
	margin: auto;
	padding: 1.6rem 0rem 1.6rem 0rem;
}

#work-list {
	list-style-type: none;
	margin-top: 0.8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-list-item {
	width: 45%;
	padding: 1.6rem 0rem 1.6rem 0rem;
	color: var(--secondary-text);
	transition: all 0.4s;
	border: 0.1rem solid transparent;
}

.work-list-item:last-child {
	border-bottom: none;
}

.work-list-item:hover {
	cursor: pointer;
	border-bottom: 1rem solid var(--accent-color);
}

.project-name {
	font-size: 1.7rem;
}

.project-type {
	color: var(--secondary-text-light);
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 0.4rem;
}

.project-description {
	color: var(--secondary-text-light);
	text-align: justify;
	line-height: 2rem;
	margin-top: 0.8rem;
	font-size: 1.4rem;
}

.stacks {
	margin-top: 0.8rem;
	align-items: center;
}

.stack {
	background-color: var(--secondary-text-light);
	color: var(--primary-text-color-light);
	margin-right: 0.8rem;
	padding: 0.4rem 0.8rem;
	border-radius: 0.1rem;
	font-size: 1.1rem;
	display: inline;
	text-transform: uppercase;
}

.client-website {
	color: var(--secondary-text);
}

footer {
	padding: 1.6rem;
	text-align: center;
}

@media screen and (max-width: 56.7rem) {
	body {
		background: var(--primary-color);
	}

	#home {
		width: 100%;
		height: 100vh;
		border: none;
		padding: 0;
	}

	#works-container {
		width: 85%;
	}

	.work-list-item {
		width: 100%;
	}

	#label-name {
		font-size: 4.5rem;
	}

	#avatar {
		width: 15rem;
		height: 15rem;
	}
}
